.App{
  position: relative;
  overflow-x: clip;
}

:root {
  --primary-color: #000;
  --primary-color-alpha: #000;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}